@model IEnumerable<GigHub.Core.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Who I Follow</h1>
<ul class="follow voffset4">
    @foreach (var artist in Model)
    {
        <li>
            <div class="well artistName">
                @artist.Name
            </div>
        </li>
    }
</ul>

